.singleContainer {
  display: flex;
  flex-direction: column;
  width: 180px;
  padding: 0;
  padding-bottom: 0.3rem;
  margin: 1.6rem;
  background-color: rgba(255, 255, 255, 0.301);
  border: 1px solid rgb(14, 14, 14);
  border-radius: 0.4rem;
  /* position: relative; */
  color: rgb(14, 14, 14);
  font-weight: bolder;
  /* margin-bottom: 4rem; */
  text-align: center;
  box-shadow: 5px 5px 8px #3b1002;
}

.poster {
  border-radius: 0.4rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid rgb(14, 14, 14);
}

.singleContainer:hover {
  background-color: #f34c19;
  color: #ffffff;
  transition: 0.5s ease;
  box-shadow: 5px 5px 10px 5px #360d00;
  cursor: pointer;
  scale: 1.05;
}

.singleContainer .title {
  font-size: 0.9rem;
  margin: 5px;
}

.subtitles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 5px;
}

.subTitle {
  font-size: 0.6rem;
}

@media screen and (max-width: 700px) {
  .singleContainer {
    width: 135px;
    margin: 1.5rem;
  }

  .singleContainer .title {
    font-size: 0.7rem;
    margin: 2px 5px;
  }

  .subTitle {
    font-size: 0.5rem;
    margin-bottom: 2px;
  }
}
