.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* height: 70px; */
  background-color: #f34c19;
}

.header span {
  font-size: 2.5rem;
  padding: 1rem;
  color: #e9d8e4;
}
