.bottomNav {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.MuiBottomNavigation-root {
  background-color: #f34c19 !important;
}

.MuiBottomNavigationAction-label,
.MuiSvgIcon-root {
  color: beige;
  scale: 0.9;
  padding: 2px;
}

.Mui-selected .MuiBottomNavigationAction-label,
.Mui-selected .MuiSvgIcon-root {
  color: beige;
  scale: 1.5;
}

@media screen and (max-width: 700px) {
  .Mui-selected .MuiBottomNavigationAction-label,
  .Mui-selected .MuiSvgIcon-root {
    scale: 1.2;
  }
}
