.customPagination {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2.5rem;
  padding-bottom: 6rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.MuiPaginationItem-icon {
  color: #e9d8e4;
}
