<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Shantell+Sans:wght@300,400,600&display=swap");
=======
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
>>>>>>> 7ab9156bd7fa6acccb96922b60c04f1d670d71b0

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
<<<<<<< HEAD
  font-family: "Shantell Sans", cursive;
=======
  font-family: 'Montserrat', sans-serif;
>>>>>>> 7ab9156bd7fa6acccb96922b60c04f1d670d71b0
  scroll-behavior: smooth;
}

.app {
  padding-top: 2rem;
  background-color: #f34c19;
  min-height: 100vh;
}

/* .pageTitle {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
<<<<<<< HEAD
  padding: 0.4rem;
} */
=======
  padding: .4rem;
}
>>>>>>> 7ab9156bd7fa6acccb96922b60c04f1d670d71b0
